[build-system]
requires = ["uv_build>=0.11.0,<0.12.0"]
build-backend = "uv_build"

[project]
name = "[[ project_slug ]]"
version = "0.1.0"
requires-python = ">=3.12"
[% if license == 'MIT' %]
license = "MIT"
license-files = ["LICENSE"]
[% endif %]
dependencies = []

[dependency-groups]
dev = [
    "deptry>=0.23",
    "mypy>=1.15",
    "pip-audit>=2.8",
    "pre-commit>=4",
    "pytest>=9",
    "pytest-cov>=6",
    "ruff>=0.16",
    "zizmor>=1",
]

[tool.uv.build-backend]
module-name = "[[ package_name ]]"
module-root = "src"

[tool.ruff]
line-length = 88
target-version = "py312"

[tool.ruff.lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "I",
    "B",
    "UP",
    "S",
    "C90",
    "N",
    "DTZ",
    "PTH",
    "PT",
    "PERF",
    "RUF",
    "D",
]

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"tests/**" = ["S101", "D"]

[tool.mypy]
python_version = "3.12"
strict = true
warn_unreachable = true
files = ["src", "tests"]

[tool.pytest.ini_options]
addopts = [
    "--cov=[[ package_name ]]",
    "--cov-branch",
    "--cov-report=term-missing",
]
filterwarnings = ["error"]
strict = true
testpaths = ["tests"]

[tool.coverage.run]
branch = true
source = ["[[ package_name ]]"]

[tool.coverage.report]
fail_under = [[ coverage_target ]]
show_missing = true
